In [39]:
import pandas as pd
from datetime import datetime

In [40]:
#read the file
df = pd.read_csv("Bechdel_detailed.csv")
#drop unuseful columns
df = df.drop(columns = ['Unnamed: 0', "id", "submitterid", "visible","date"])
#first insight into db
df.describe().T

,count,mean,std,min,25%,50%,75%,max
year,9373.0,1.995967e+03,2.507238e+01,1874.0,1988.0,2006.0,2013.0,2021.0
rating,9373.0,2.123653e+00,1.105398e+00,0.0,1.0,3.0,3.0,3.0
dubious,9074.0,8.926603e-02,2.851431e-01,0.0,0.0,0.0,0.0,1.0
imdbid,9373.0,1.481312e+06,2.210870e+06,1.0,99731.0,423382.0,1869716.0,15943414.0

In [41]:
#check if there are duplicates and delete the ones
df.duplicated().sum()
df.drop_duplicates(inplace = True)
#check for null values
df.isnull().sum()
#just dubious has missing values so we will keep it

title        0
year         0
rating       0
dubious    299
imdbid       0
dtype: int64

In [42]:
#open IMDB db
imdb = pd.read_csv('movie_metadata.csv')
#drop unesuful columns
imdb = imdb.drop(columns = ['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'actor_1_name',
        'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
        'num_user_for_reviews', 
        'actor_2_facebook_likes',
       'aspect_ratio', 'movie_facebook_likes'])
# #check if there are duplicates and delete the ones
imdb.duplicated().sum()
imdb.drop_duplicates(inplace = True)
imdb

,gross,genres,movie_title,movie_imdb_link,language,country,content_rating,budget,title_year,imdb_score
0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,Avatar,http://www.imdb.com/title/tt0499549/?ref_=fn_t...,English,USA,PG-13,237000000.0,2009.0,7.9
1,309404152.0,Action|Adventure|Fantasy,Pirates of the Caribbean: At World's End,http://www.imdb.com/title/tt0449088/?ref_=fn_t...,English,USA,PG-13,300000000.0,2007.0,7.1
2,200074175.0,Action|Adventure|Thriller,Spectre,http://www.imdb.com/title/tt2379713/?ref_=fn_t...,English,UK,PG-13,245000000.0,2015.0,6.8
3,448130642.0,Action|Thriller,The Dark Knight Rises,http://www.imdb.com/title/tt1345836/?ref_=fn_t...,English,USA,PG-13,250000000.0,2012.0,8.5
4,NaN,Documentary,Star Wars: Episode VII - The Force AwakensÂ ...,http://www.imdb.com/title/tt5289954/?ref_=fn_t...,NaN,NaN,NaN,NaN,NaN,7.1
...,...,...,...,...,...,...,...,...,...,...
5038,NaN,Comedy|Drama,Signed Sealed Delivered,http://www.imdb.com/title/tt3000844/?ref_=fn_t...,English,Canada,NaN,NaN,2013.0,7.7
5039,NaN,Crime|Drama|Mystery|Thriller,The Following,http://www.imdb.com/title/tt2071645/?ref_=fn_t...,English,USA,TV-14,NaN,NaN,7.5
5040,NaN,Drama|Horror|Thriller,A Plague So Pleasant,http://www.imdb.com/title/tt2107644/?ref_=fn_t...,English,USA,NaN,1400.0,2013.0,6.3
5041,10443.0,Comedy|Drama|Romance,Shanghai Calling,http://www.imdb.com/title/tt2070597/?ref_=fn_t...,English,USA,PG-13,NaN,2012.0,6.3
5042,85222.0,Documentary,My Date with Drew,http://www.imdb.com/title/tt0378407/?ref_=fn_t...,English,USA,PG,1100.0,2004.0,6.6

In [43]:
#transform the imdb movie link to an id for merging purposes
imdb['imdbid']= imdb['movie_imdb_link'].apply(lambda x:float(str(x).split("/")[4][2:]))
#merge the two df
merged_df = pd.merge(df, imdb, how='inner', on=['imdbid'])
#transform year in datetime
merged_df['year'] = pd.to_datetime(merged_df['title_year'])
#select just year
merged_df['year'] = pd.DatetimeIndex(merged_df['year']).year 
# drop the unesuful column of both (title is well written in the imbdb one so keep that one)
merged_df = merged_df.drop(columns = ['title','title_year','movie_imdb_link','imdbid'])

In [44]:
#check for null values
merged_df.isnull().sum()

year                4
rating              0
dubious           224
gross             210
genres              0
movie_title         0
language            3
country             0
content_rating     32
budget            151
imdb_score          0
dtype: int64

In [45]:
#check the null title_year
merged_df[merged_df['year'].isnull()]
#drop those rows
merged_df = merged_df[merged_df['year'].notna()]

In [46]:
#check for duplicates
merged_df.duplicated().sum()

0

In [47]:
merged_df
#we can see there are some more duplicates with small differences, decide how to treat them

,year,rating,dubious,gross,genres,movie_title,language,country,content_rating,budget,imdb_score
0,1970.0,0.0,0.0,NaN,Drama|History|War,Intolerance: Love's Struggle Throughout the Ages,NaN,USA,Not Rated,385907.0,8.0
1,1970.0,2.0,0.0,NaN,Drama|Romance|War,The Big Parade,NaN,USA,Not Rated,245000.0,8.3
2,1970.0,1.0,0.0,26435.0,Drama|Sci-Fi,Metropolis,German,Germany,Not Rated,6000000.0,8.3
3,1970.0,3.0,1.0,9950.0,Crime|Drama|Romance,Pandora's Box,German,Germany,Not Rated,NaN,8.0
4,1970.0,3.0,0.0,2808000.0,Musical|Romance,The Broadway Melody,English,USA,Passed,379000.0,6.3
...,...,...,...,...,...,...,...,...,...,...,...
2842,1970.0,1.0,0.0,107225164.0,Action|Animation|Comedy|Family,The Angry Birds Movie,English,USA,PG,73000000.0,6.3
2843,1970.0,2.0,0.0,35537564.0,Comedy,Dirty Grandpa,English,USA,R,11500000.0,6.0
2844,1970.0,1.0,0.0,NaN,Adventure|Drama|History,Ben-Hur,English,USA,PG-13,NaN,6.1
2845,1970.0,1.0,0.0,NaN,Adventure|Drama|History,Ben-Hur,English,USA,PG-13,100000000.0,6.1
2846,1970.0,1.0,0.0,NaN,Adventure|Drama|History,Ben-Hur,English,USA,PG-13,100000000.0,6.0

In [48]:
merged_df['movie_title'].describe()

count         2843
unique        2839
top       Ben-HurÂ
freq             3
Name: movie_title, dtype: object

In [65]:
#a couple of movies appear twice
#remove movies with same year and title
merged_df = merged_df.drop(merged_df.loc[merged_df.duplicated(['movie_title','year'])].index)
#check if it worked
merged_df['movie_title'].describe()

count                                                  2839
unique                                                 2839
top       Intolerance: Love's Struggle Throughout the AgesÂ
freq                                                      1
Name: movie_title, dtype: object

In [68]:
#divide genre into list for easier use
merged_df['genres']= merged_df['genres'].apply(lambda x:(str(x).split("|")))
merged_df

,year,rating,dubious,gross,genres,movie_title,language,country,content_rating,budget,imdb_score
0,1970.0,0.0,0.0,NaN,"[Drama, History, War]",Intolerance: Love's Struggle Throughout the Ages,NaN,USA,Not Rated,385907.0,8.0
1,1970.0,2.0,0.0,NaN,"[Drama, Romance, War]",The Big Parade,NaN,USA,Not Rated,245000.0,8.3
2,1970.0,1.0,0.0,26435.0,"[Drama, Sci-Fi]",Metropolis,German,Germany,Not Rated,6000000.0,8.3
3,1970.0,3.0,1.0,9950.0,"[Crime, Drama, Romance]",Pandora's Box,German,Germany,Not Rated,NaN,8.0
4,1970.0,3.0,0.0,2808000.0,"[Musical, Romance]",The Broadway Melody,English,USA,Passed,379000.0,6.3
...,...,...,...,...,...,...,...,...,...,...,...
2840,1970.0,1.0,0.0,NaN,"[Biography, Drama]",The Birth of a Nation,English,USA,R,10000000.0,5.4
2841,1970.0,2.0,0.0,9658370.0,"[Comedy, Romance]",The Perfect Match,English,USA,R,5000000.0,4.5
2842,1970.0,1.0,0.0,107225164.0,"[Action, Animation, Comedy, Family]",The Angry Birds Movie,English,USA,PG,73000000.0,6.3
2843,1970.0,2.0,0.0,35537564.0,[Comedy],Dirty Grandpa,English,USA,R,11500000.0,6.0
2844,1970.0,1.0,0.0,NaN,"[Adventure, Drama, History]",Ben-Hur,English,USA,PG-13,NaN,6.1

## visualizations

In [76]:
#distribution of the ratings
merged_df['rating'].value_counts()

3.0    1526
1.0     771
2.0     325
0.0     217
Name: rating, dtype: int64